.main-header {
	height: 150px;
	text-align: center;
	background: orange;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
}
.side-block{
	height: 500px;
	background: red;
}
.mar-top-150 {
	margin-top: 150px;
}
.content {
	height: 100%;
	margin-top: 100px;
}
#content-header {
	position: sticky;
	top: 150px;
	width: 100%;
	background: green;
	text-align: center;
	display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
#content-body {
	text-align: center;
	display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
#content-header::-webkit-scrollbar {
    display: none;
}
.item-top {
	height: 30px;
	width: 100px;
	border: 1px solid;
	flex: 0 0 auto;
}
.item-bottom {
	height: 100px;
	width: 100px;
	border: 1px solid;
	flex: 0 0 auto;
}